.comingsoon-card{
  margin-left: 1.5rem;
  margin-top: 20px;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
} 

.card-title{  /*Card-title */
  color: white;
}

.card-text{
  color: white;
}