/* body styles */
.rpsBody {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    background-color: #E5F8E3;
}

/* header styles */

.rpsHeader {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.rpsLeftitem {
    display: flex;
    gap: 30px;
}

.rpsJudul,
.rpsScoreDisplay,
.rpsRondeDisplay {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: start;
    color: #FFA500;
}

.rpsScoreDisplay,
.rpsRondeDisplay {
    margin-left: 40px;
}

.rpsName {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.2rem;
    text-align: center;
    color: black;
    margin-right: 10px;
}

/* Button Styles */
.rpsRefreshButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.rpsButton,
.doneButton,
.refreshButton {
    background: none;
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.computerChoice,
.rpsButton {
    padding: 0;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: none;
}

.rpsButton {
    background: none;
    border: none;
}

.doneButton {
    background-color: #339936;
    color: white;
    font-size: 1rem;
    width: 320px;
}

.doneButton:hover,
.refreshButton:hover {
    background-color: #45a049;
}

.doneButton:focus,
.rpsButton:focus,
.refreshButton:focus {
    outline: none;
}

.chosen,
.rpsButton:hover {
    background: #c4c4c4;
    transition: all 0.5s ease;
    border-radius: 10px;
    border: none;
}

/* others styles */
.logo {
    width: 72px;
    height: 72px;
}

.batu {
    width: 108px;
    height: 72px;
}

.batuCom {
    width: 108px;
    height: 72px;
}

.kertas {
    width: 95px;
    height: 130px;
}

.kertasCom {
    width: 95px;
    height: 130px;
}

.gunting {
    width: 114px;
    height: 140px;
}

.guntingCom {
    width: 114px;
    height: 140px;
}

.computerChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.result {
    font-size: 4rem;
    font-weight: bold;
    color: #8B0000;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.rpsResultMessage {
    color: #0f710c;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

.grid {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.row {
    width: 80%;
    max-height: 180px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.col {
    padding: 10px;
}

.refreshImg {
    width: 77px;
    height: 77px;
}