.background {
    /* margin: 0; */
    background-color: black;
    /* flex-grow: 1; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 100wh; */
    /* min-height: 100vh; */
}

.carousel-main {
    padding-top:20px;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
}

.landing-header{
    min-width: 100wh - 200px;
    min-height: 19rem;
    max-height: 23vh;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 10px;
    border-radius: 25px;
}

.carousel-container {
    max-width: 100%;
}

.carousel-button{
    border-radius: 5px;
    border:none;
    color:white;
    padding:5px 30px;
    text-align: center;
    font-size: large;
}

.comming-soon{
    margin-bottom: 2rem;
}

.popular-game{
    margin-left:3rem;
}
.leaderboard{
    margin-left:3rem;
}