.table-container {
  flex: 1;
  padding: 20px;
  justify-content: center;
  border-radius: 25px;
  flex-grow: 1;
  max-height: 600px;
  height: 100%;
  overflow: auto;
}

.table-title{
  color: white;
  text-align: center;
  font-family: "goldman"; 
}

.table-container table {
  width: 100%;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom:1px solid white;
}

.table-container tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-container tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}