.tableContainer {
    flex: 1;
    padding: 20px;
    justify-content: center;
    border-radius: 25px;
    flex-grow: 1;
}
    
.tableTitle{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
  
.tableContainer table {
    width: 100%;
    table-layout: fixed;
}
  
.tableContainer th,
.tableContainer td {
    color: white;
    padding: 10px;
    text-align: center;
    border-bottom:1px solid white;
}
  
.tableContainer tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}
  
.tableContainer tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
  
    
    