.body {
    margin: 0;
    padding: 0;
}

/* style profile */
.bgProfile {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

.positionProfile {
    display: flex;
    justify-content: center;
    height: 100%;
}

.profile {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: white;
    background-color: black;   
}

/* navbar */
.navbarProfile {
    background-color: #4E67EB;
}
  
.navProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.styleAvatar {
    height: 100px;
    width: 100px;
    padding: 4px;
    margin-bottom: 20px;
    background: rgb(114, 113, 113);
    border-radius: 50%;
}

.changeAvatar {
    display: flex;
    align-items: flex-end;
}

.icons a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    margin-bottom: 15px;
}

.btnProfile {
    box-shadow: 1px 1px 5px 2px rgba(213, 217, 218, 0.3);
    width: 150px;
    height: 40px;
}

/* style modal */
.styleModal {
    background-color: #4E67EB;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.myInput {
    background: aliceblue;
    border-color: black;    
}

.myInput:focus {
    background: rgba(0, 0, 0, 0.557);
    color: white;
}

.myInput::placeholder {
    color: rgb(126, 125, 125); 
    font-size: 15px;
}

